/* ========================================
   HEADER WRAPPER
   ======================================== */

.sth-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;

  background: var(--sth-white);

  box-shadow:
    0 3px 12px rgba(17, 17, 17, 0.035);
}

/* ========================================
   BOX SIZING
   ======================================== */

.sth-header,
.sth-header *,
.sth-header button,
.sth-header input {
  box-sizing: border-box;
}

/* ========================================
   LINKS
   ======================================== */

.sth-header a {
  text-decoration: none;
}

/* ========================================
   DESKTOP
   ======================================== */

.sth-header__desktop {
  display: block;
}

/* ========================================
   MOBILE
   ======================================== */

.sth-header__mobile {
  display: none;
}

/* ========================================
   RESPONSIVE
   ======================================== */

@media (max-width: 1023px) {
  .sth-header__desktop {
    display: none;
  }

  .sth-header__mobile {
    display: block;
  }
}